@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  width: calc(100vw - 1rem);
  min-height: calc(100vh - 1rem);
  font-family: 'Open Sans';
  place-content: center; }

.dataTables_wrapper {
  width: 80vw; }

table {
  width: 100%; }

.profile-grid {
  display: grid;
  grid: "overview main" ". main"/calc(40vw - 1rem) auto;
  padding: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 0;
  bottom: 0; }
  .profile-grid overview {
    display: grid;
    grid-area: "overview"; }
    .profile-grid overview info {
      display: grid;
      grid-auto-flow: row;
      height: calc(100% - 50%); }

slice {
  display: flex;
  flex-direction: column; }

snippet {
  color: rgba(150, 150, 150, 0.8);
  font-size: 1.5rem; }
  snippet > span {
    color: rgba(60, 60, 60, 0.8); }

form {
  display: grid;
  width: calc(100% - 2rem);
  grid-auto-flow: row;
  gap: 10px;
  min-height: 10rem; }
  form input {
    border-radius: 2px;
    height: 2rem; }
    form input[type="button"] {
      border: none;
      font-size: 1.2rem; }
    form input[type="text"] {
      border: none;
      background-color: rgba(0, 0, 0, 0);
      border-bottom: 2px solid rgba(0, 100, 100, 0.5);
      transition: border-bottom 0.2s ease-in-out;
      transition: background-color 0.5s ease-in; }
      form input[type="text"][name="numberoftickets"] {
        text-align: center; }
      form input[type="text"]:focus {
        outline: none;
        background-color: rgba(0, 0, 0, 0.2);
        border-bottom: 5px solid rgba(0, 200, 200, 0.5); }
